<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/style.css">
    <script src="/scripts/script.js"></script>
    <title>calculadora</title>
</head>
<body>
     <div class="calcular">
         <h1>calculadora</h1>
         <p class="resultado"></p>
         <table>
            <tr>
                <td><button >C</button></td>
                <td><button><</button></td>
                <td><button>/</button></td>
                <td><button>X</button></td>
            </tr>
            <tr>
                <td><button onclick="insert('7')">7</button></td>
                <td><button onclick="insert('8')">8</button></td>
                <td><button onclick="insert('9')">9</button></td>
                <td><button onclick="insert('-')">-</button></td>
            </tr>
            <tr>
                <td><button onclick="insert('4')">4</button></td>
                <td><button onclick="insert('5')">5</button></td>
                <td><button onclick="insert('6')">6</button></td>
                <td><button>+</button></td>
            </tr>
           
            <tr>
                <td><button onclick="insert('1')">1</button></td>
                <td><button onclick="insert('2')">2</button></td>
                <td><button onclick="insert('3')">3</button></td>
                <td rowspan="2"><button  class="igual">=</button></td>
            </tr>
            <tr>
                <td colspan="2" ><button class="zero" onclick="insert('0')">0</button></td>
                <td><button>1</button></td>
                
            </tr>
         </table>
     </div>
</body>
</html>